/*Style for body + page-margin*/
html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    width: 100%;
    height: 100%;
    margin: 0;
}

.page-margin2{
  margin-left: 0px;
  margin-right: 62px;
}

.page-margin{
  margin-left: 60px;
  margin-right: 60px;
}

h1 {
    float: left;
    font-weight: bold;
    font-size: 50px;
    /*Normal pageheader = 18px*/
}

/*style for headern. Hvis noget skal rettes i header-navigationen, vil du finde det her*/
.topnav {
  overflow: hidden;
  background-color: #222222;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  /*trendlogs egen nav= 14px */
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav a img{
max-height: 100%;
margin: 0 auto;
width: auto;
padding: 14px 0 0 0;
}

.topnav .icon {
  display: none;
}

/* #############################################
// =============== table css start =============
// ###########################################*/

.rows-section{
    width: 100%;
}

.section-header, .row {
  display: flex;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.5);
  background-color: white;
}

.section-header {
  height: 60px;
}

.header-small, .row-small {
  flex: 2;
  padding-left: 8px;
}

.header-medium, .row-medium {
  flex: 6;
}

.header-big, .row-big {
  flex: 9;
}

.row {
    height: 48px;
    margin-top: 8px;
}

.row-text {
  font-size: 16px;
}


/* #############################################
// =============== table css slut ==============
// ###########################################*/


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.left{
  float: left;
}

.left img{
  width: 70%;
  height: 70%;
  display: block;
  margin-left: 10px;
  margin-right: 0%;
  margin-top: 10px;
}

.right{
  float: right;
}

.top{
  margin-top: 20px;
}

.show{
  height: 20px;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  a.show { display: none; }   /* hide it elsewhere */
}

/* profil i headeren*/
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-weight: bold;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 1em 1em;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* farven på ikonnet i profilen */

.fa-user-alt{
  color: #39fe45;
}

@media screen and (max-width: 600px) {
  div.dropdown { display: none; }  /* show it on small screens */
}

/* searchbar style*/

#myInput {
    width: 100%;
    position: relative;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    background-image: url('img/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 1.2em;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048);
  }

/*Tabellens style */

.border{
  border: 3px solid #000000;
}

table {
  border-collapse: collapse;
  width: 100%;
  style: overflow-x:auto;
  font-size: 25px;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 10px solid #d3d3d3;
  background-color: #f9f9f9;
}

tr:nth-child(even) {
  background-color: #d3d3d3;
}

tr:hover {
  background-color:#999999;
}


/* knappens stil */
/*Add rapport knap*/
  #myBtn {
    display:inline-block;
    padding:1em 1em;
    border:0.1em solid green;
    margin:13px 0 0 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    background-color: green;
    position: relative;
    cursor: pointer;
  }

  #myBtn:hover{
    opacity: 75%;
    }

    @media all and (max-width:30em){
     #myBtn{
    display:block;
    margin:0.4em auto;
     }
    }

/*media til tabellen*/

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

  table {
    width: 100%
  }

  table, tbody, th, td, tr {
    display: block;
  }

  thead tr, th, p {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 3px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    font-weight: bold;
    text-align: left;
  }

  #myBtn{
    position: absolute;
    top: -99999px;
    left: -9999px;
  }
.page-margin h1 {
  position: absolute;
  top: -99999px;
  left: -9999px;
  }

}

/*hover effekt på production på tabellen */

#myTable a:hover {
  color: green;
}

#myTable a {
  text-decoration: none;
  color: black;
}

/* modal popop */
.modal {
    display: none; /* gør at det er gemt */
    position: fixed; /* gør at den sidder fast */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* gør at man kan scrolle, hvis man skal */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 250px;
  }

  .modal-content p{
      color: black;
      text-align: center;
      font-size: 18px;
  }


  /* lukke knap på modal*/
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
    .button2 {
      display: inline-block;
      padding: 0.3em 1.2em;
      margin: 0 0.3em 0.3em 0;
      border-radius: 2em;
      box-sizing: border-box;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: white !important;
      background-color: #4CAF50;
      text-align: center;
      font-size: 15px;
    }

    .button_modal {
      background-color: green;
    	border: 1px solid none;
      border-radius: 30px;
    	text-decoration: none;
    	padding: 10px 28px;
    	color: white;
    	margin-top: 10px;
      display: inline-block;
  }

  .button_modal:hover {
    color:#000000;
    opacity: 0,5;
  }

  .button_modal2 {
    background-color: #C31414;
    border: 1px solid none;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 28px;
    color: white;
    margin-top: 10px;
    display: inline-block;
}

  .button_modal2:hover {
    color:#000000;
    opacity: 0,5;
  }

.button_modal, .botton_modal2 {
  margin-right: 30px;
  margin-left: 30px;
  font-weight: bold;
}

/* Style the tab */
.tab {
    position: absolute;
    width: 250px;
    height: 100%;
    top:0;
    left: 0;
    bottom: 0;
    background: #222;
    padding-top: 1px;
    margin-top: 56px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: green;
}

.tab button.active {
    background-color: #2C3E50;
  }

/* Style the tab content */
.tabcontent {
  position: relative;
  float: left;
  background-color: #2C3E50;
  color: white;
  width: 20%;
  height: 100%;
  padding: 0px 12px;
  margin-left: 250px;
  display: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

.selectbox{
  margin-left: 4px;
}

.selectbox select{
  width: 75%;
  margin-bottom: 20px;
  font-size: 20px;
}

.selectbox label{
  font-size: 25px;
}

.selectbox h3{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.selectbox div{
  width: 25%;
  margin-bottom: 20px;
  font-size: 20px;
}

.genvejsikon {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: white;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
  margin-right: 15px;
  border-radius: 12px;
}

.genvejsikon i{
  color: #000000;
  padding-top: 25%;
}

.genvejsikonafstand{
position: relative;
float: right;
width: 100px;
top: 18%;
}

.genvejsikonafstand div{
  margin: 10%;
}
