body {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: arial;
}

.box-template {
  background-color: #2C3E51;
  width: 50%;
  height: 70%;
  padding: 1.5% 5%;
  margin: auto;
  color: white;
}

.box-template h1 {
  text-align: center;
}

img {
  margin: 10px;
  position: relative;
  padding: 20px;
  margin: auto;
  cursor: pointer;
  transition: transform .2s;
}

img:hover {
  transform: scale(1.1);
}

.imgContainer p {
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.imgContainer #Btn1 {
  cursor: pointer;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 50px;
}

.imgContainer #Btn2 {
  cursor: pointer;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 50px;
}

.imgContainer #Btn3 {
  cursor: pointer;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 50px;
}

.imgContainer #Btn4 {
  cursor: pointer;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 50px;
}

.imgContainer #Btn5 {
  cursor: pointer;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 50px;
}

#Btn1, #Btn2, #Btn3, #Btn4, #Btn5 {
  display: inline-block;
  padding: 1em 1em;
  border: none;
  margin: 13px 0 0 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: #5CB85C;
  position: relative;
  cursor: pointer;
}

#Btn1, #Btn2 a {
  text-decoration: none;
  color: #ffffff;
}

#Btn1:hover {
  color: #000000;
  opacity: 75%;
}

@media all and (max-width:30em) {
  #Btn1, #Btn2 {
    display: block;
    margin: 0.4em auto;
  }
}
